<div id="global-nav">
	<div id="nav">
		<div id="nav-inner" aria-expanded="true">
			<ul id="navigation">
        <ul id="navigation-1">
  				<li id="nav"><img id='image' src='public/home.png'>
          <li id="nav">Home</li>
        </ul>
        <ul id="navigation">
  				<li id="nav"><img id='image' src='public/notification.png'>
          <li id="nav">Notification</li>
        </ul>
        <ul id="navigation">
  				<li id="nav"><img id='image' src='public/message.png'>
          <li id="nav">Messages</li>
        </ul>
			</ul>
      <div id="icon">
        <img id='image' src='public/twitter_icon.png' >
      </div>
			<ul id="nav-right">
        <li id='nav-right'>
				    <input type="text" id="search" placeholder='Search on twitter'>
        </li>
        <li id='nav-right'>
          <img alt="" id="img-rounded-1" src="public/alien.jpg">
        </li>
        <li id='nav-right'>
				  <button id="btn" type="submit"> Tweet </button>
        </li>
			</ul>
		</div>
	</div>
</div>
