div#container--right
  display: flex
  justify-content: left
  padding: 10px
  margin: 1px 0px 1px 0px
  background-color: white

div#container--middle
  display: flex
  justify-content: left
  padding: 10px
  margin: 1px 0px 1px 0px
  background-color: white

div#container--middle:hover
  background-color: #F5F8FA

div#container--input--tweet
  display: flex
  justify-content: left
  padding: 10px
  background-color: #FFE6E5

div#container-right-bottom
  color: grey
  font-size: 12px
  justify-content: left
  padding: 10px
  margin: 10px 0px 10 0px
  background-color: white
  
div#container
  justify-content: left
  padding: 10px
  margin: 10px 0px 10 0px
  background-color: white
