<section id="col-left">
  <div id="container">
    <div id='container-1'>
    <img id="img-background" src="galaxy.jpg">
    <img id="img-rounded-0" src="alien.jpg">
    </div>
    <div id="profil-info">
      <div id="tweets">
        <ul id="profil-info">
          <div>
            <small>Tweets</small>
          </div>
          <div>
            <a id="info-number" href="#">1,545</a>
          </div>
        </ul>
      </div>
      <div id="following">
        <ul id="profil-info">
          <div>
            <small>Following</small>
          </div>
          <div>
            <a id="info-number" href="#">251</a>
          </div>
        </ul>
      </div>
      <div id="followers">
        <ul id="profil-info">
          <div>
            <small>Followers</small>
          </div>
          <div>
            <a id="info-number" href="#">153</a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div id="container">
    <div id="panel-heading">
      <h3 id="panel-title">
        <span id="trends">Trends<span>
        <span id="modify">modify</span>
      </h3>
    </div>

    <div id="panel-body">
      <ul id="trend-list">
        <li>
          <a id="trend" href="#">#CrasJustoOdio</a><br>
          <small id="trend-description"> hello </small>
        </li>
        <li>
          <a id="trend"href="#">#DapibusAfAacilisis in</a><br>
          <small id="trend-description"> hello </small>
        </li>
        <li>
          <a id="trend" href="#">#MorbiLeoRisus</a><br>
          <small id="trend-description"> hello </small>
        </li>
        <li>
          <a id="trend" href="#">#PortaAcConsectetur ac</a><br>
          <small id="trend-description"> hello </small>
        </li>
        <li>
          <a id="trend" href="#">#VestibulumAtEros</a><br>
          <small id="trend-description"> hello </small>
        </li>
        <li>
          <a id="trend" href="#">#VestibulumAtEros</a><br>
          <small id="trend-description"> hello </small>
        </li>
        <li>
          <a id="trend" href="#">#VestibulumAtEros</a><br>
          <small id="trend-description"> hello </small>
        </li>
      </ul>
    </div>
  </div>
</section>
