<section id="col-sm-3">
  <div id="container">
    <div id="panel-heading">
      <h3 id="panel-title">
        Who to follow
        <small><a href="#">Refresh</a> ● <a href="#">View all</a></small>
      </h3>
    </div>
    <div id="panel-body">
      <div id="container--right">
        <div id="media-left">
          <img src="spock.jpg" alt="" id="img-rounded">
        </div>
        <div id="media-body">
          <h4 id="media-heading">Spock</h4>
          <a id="follow-button">Follow</a>
        </div>
      </div>
      <div id="container--right">
        <div id="media-left">
          <img src="elonmusk.jpg" alt="" id="img-rounded">
        </div>
        <div id="media-body">
          <h4 id="media-heading">Elon Musk</h4>
          <a id="follow-button">Follow</a>
        </div>
      </div>
      <div id="container--right">
        <div id="media-left">
          <img src="curiosity.jpeg" alt="" id="img-rounded">
        </div>
        <div id="media-body">
          <h4 id="media-heading">Curiosity Rover</h4>
          <a id="follow-button">Follow</a>
        </div>
      </div>
    </div>
    <div id="panel-footer">
      <a href="www.google.it">
        <span id="glyphicon glyphicon-user"></span>
        Find people you know
      </a>
    </div>
  </div>
  <div id="container-right-bottom">
    © 2015 Twitter
    <a href="#">About</a>
     <a href="#"> Help</a>
     <a href="#"> Terms</a>
     <a href="#"> Privacy</a>
     <a href="#"> Cookies</a>
     <a href="#"Ads info</a>
     <a href="#">Brand</a>
     <a href="#">Blog</a>
     <a href="#">Status</a>
     <a href="#">Apps</a>
     <a href="#">Jobs</a>
     <a href="#">Advertise</a>
     <a href="#">Businesses</a>
     <a href="#">Media</a>
     <a href="#">Developers</a>
  </div>
</section>
