<section id="col-left">
  <div id="container">
    <a href="#"><img id="img-rounded" src="alien.jpg"></a>
    <div id="profil-info">
      <div id="tweets">
        <ul id="profil-info">
          <small>TWEETS</small>
          <a href="#">1,545</a>
        </ul>
      </div>
      <div id="following">
        <ul id="profil-info">
          <small>FOLLOWING</small>
          <a href="#">251</a>
        </ul>
      </div>
      <div id="followers">
        <ul id="profil-info">
          <small>FOLLOWERS</small>
          <a href="#">153</a>
        </ul>
      </div>
    </div>
  </div>

  <div id="container">
    <div id="panel-heading">
      <h3 id="panel-title">
        Trends
        <small><a href="#">modify</a></small>
      </h3>
    </div>

    <div id="panel-body">
      <ul id="trend-list">
        <li><a id="trend" href="#">#Cras justo odio</a></li>
        <li><a id="trend"href="#">#Dapibus ac facilisis in</a></li>
        <li><a id="trend" href="#">#Morbi leo risus</a></li>
        <li><a id="trend" href="#">#Porta ac consectetur ac</a></li>
        <li><a id="trend" href="#">#Vestibulum at eros</a></li>
        <li><a id="trend" href="#">#Vestibulum at eros</a></li>
        <li><a id="trend" href="#">#Vestibulum at eros</a></li>
      </ul>
    </div>
  </div>
</section>
