<section id="col-sm-6">
  <div id="panel panel-info">
    <div id="container--input--tweet">
      <div id="container--input--tweet">
        <img alt="" id="img-rounded-1" src="alien.jpg">
        <div id="media-body">
          <div id="form-group has-feedback">
            <input type="text" id="tweet" placeholder="What's happening?">
          </div>
        </div>
      </div>
    </div>
    <div id="panel-body">
      <div id="container--middle">
        <a id="media-left" href="#fake">
          <img alt="" id="img-rounded" src="alien.jpg">
        </a>
        <div id="media-body">
          <h4 id="media-heading">Media heading</h4>
          <p>J S2Je+NuSCyPYuqpA pQbyA09QWkX3SLiQEfoK3Q no8oB6e9FOzvO6fay9QUEu+f IfED4+p+SxHfiXELChGAE3w JNYMj+i7lKA7J4rn+zV l0GfMYtdpctv</p>
          <ul id="pills">
            <li><a href="#"><img id='image' src='comment.png' ></a></li>
            <li><a href="#"><img id='image' src='retweet.png' ></span></a></li>
            <li><a href="#"><img id='image' src='like.png' ></a></li>
            <li><a href="#"><img id='image' src='message.png' ></span></a></li>
          </ul>
        </div>
      </div>
      <div id="container--middle">
        <a id="media-left" href="#fake">
          <img alt="" id="img-rounded" src="alien.jpg">
        </a>
        <div id="media-body">
          <h4 id="media-heading">Media heading</h4>
          <p>38VFf0ND1YTruZUOYwpCsgMdxA cM6dVleLywfV8KCQJR V5OHn2wIuyCFWuv OPC7PRL/U9Fs9 2edDOcGeXipgGeU58o eXKbKnaKzFWR50Lq8od9DG wPMUPUdU4Y AoMMPGVTFVQ0p XZSKI7CXrTJ S2Je+NuSCyPYuqpA pQbyA09QWkX3SLiQEfoK3Q no8oB6e9FOzvO6fay9QUEu+f IfED4+p+SxHfiXELChGAE3w JNYMj+i7lKA7J4rn+zV l0GfMYtdpctv pdmpCsLP/4t4reAgyo HZk3j9JWUaKZJuB4TeLS oKre86yu/K o9 +WemFXGsU IzQthAYVqM Oh4qls2qI mTHstRV+t8 dNbOxJptfX1Wz/SOZB3F dFZD4UE6OEWAjZGY JXZUAqRkTkVoYQw Zva7W7w yW1LzIADeFafCqjJ0=</p>
          <ul id="pills">
            <li><a href="#"><img id='image' src='comment.png' ></span></a></li>
            <li><a href="#"><img id='image' src='retweet.png' ></span></a></li>
            <li><a href="#"><img id='image' src='like.png' ></a></li>
            <li><a href="#"><img id='image' src='message.png' ></span></a></li>
          </ul>
        </div>
      </div>
      <div id="container--middle">
        <a id="media-left" href="#fake">
          <img alt="" id="img-rounded" src="alien.jpg">
        </a>
        <div id="media-body">
          <h4 id="media-heading">Media heading</h4>
          <p>dFZD4UE6OEWAjZGY JXZUAqRkTkVoYQw Zva7W7w </p>
          <ul id="pills">
            <li><a href="#"><img id='image' src='comment.png' ></a></li>
            <li><a href="#"><img id='image' src='retweet.png' ></a></li>
            <li><a href="#"><img id='image' src='like.png' ></a></li>
            <li><a href="#"><img id='image' src='message.png' ></span></a></li>
          </ul>
        </div>
      </div>
      <div id="container--middle">
        <a id="media-left" href="#fake">
          <img alt="" id="img-rounded" src="alien.jpg">
        </a>
        <div id="media-body">
          <h4 id="media-heading">Media heading</h4>
          <p>OHn2wIuyCFWuv OPC7PRL/U9Fs9 2edDOcGeXipgGeU58o eXKbKnaKzFWR50Lq8od9DG wPMUPUdU4Y AoMMPGVTFVQ0p XZSKI7CXrTJ S2Je+NuSCyPYuqpA pQbyA09QWkX3SLiQEfoK3Q no8oB6e9FOzvO6fay9QUEu+f IfED4+p+SxHfiXELChGAE3w JNYMj+i7lKA7J4rn+zV l0GfMYtdpctv pdmpCsLP/4t4reAgyo HZk3j9JWUaKZJuB4TeLS oKre86yu/K o9 +WemFXGsU IzQth</p>
          <ul id="pills">
            <li><a href="#"><img id='image' src='comment.png' ></a></li>
            <li><a href="#"><img id='image' src='retweet.png' ></a></li>
            <li><a href="#"><img id='image' src='like.png' ></a></li>
            <li><a href="#"><img id='image' src='message.png' ></span></a></li>
          </ul>
        </div>
      </div><div id="container--middle">
        <a id="media-left" href="#fake">
          <img alt="" id="img-rounded" src="alien.jpg">
        </a>
        <div id="media-body">
          <h4 id="media-heading">Media heading</h4>
          <p>8od9DG wPMUPUdU4Y </p>
          <ul id="pills">
            <li><a href="#"><img id='image' src='comment.png' ></a></li>
            <li><a href="#"><img id='image' src='retweet.png' ></a></li>
            <li><a href="#"><img id='image' src='like.png' ></a></li>
            <li><a href="#"><img id='image' src='message.png' ></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</section>
