<div id="global-nav">
	<div id="nav">
		<div id="nav-inner" aria-expanded="true">
			<div id='item'>
				<ul id="navigation">
	        <ul id="navigation-1">
	  				<li id="nav"><img id='image' src='home.png'>
	          <li id="nav">Home</li>
	        </ul>
	        <ul id="navigation-1">
	  				<li id="nav"><img id='image' src='notification.png'>
	          <li id="nav">Notification</li>
	        </ul>
	        <ul id="navigation-1">
	  				<li id="nav"><img id='image' src='message.png'>
	          <li id="nav">Messages</li>
	        </ul>
				</ul>
			</div>
			<div id='item'>
	      <div id="icon">
	        <img id='image' src='twitter_icon.png' >
	      </div>
			</div>
			<div id='item'>
				<ul id="nav-right">
	        <li id='nav-inner-right'>
					    <input type="text" id="search" placeholder='Search on twitter'>
	        </li>
	        <li id='nav-inner-right'>
	          <img alt="" id="img-rounded-1" src="alien.jpg">
	        </li>
	        <li id='nav-inner-right'>
					  <button id="btn" type="submit"> Tweet </button>
	        </li>
				</ul>
			</div>
		</div>
	</div>
</div>
