<head>
  <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
</head>

<body>
 <%- include partials/navBar.ejs %>
	<div id="row">
    <%- include partials/col-left.ejs %>
		<%- include partials/col-middle.ejs %>
		<%- include partials/col-right.ejs %>
	</div>
</body>
