/* line 1, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #E6ECF0;
  margin: 0; }

/* line 7, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#nav {
  position: fixed;
  width: 100%;
  border-bottom: solid #858284 1px; }

/* line 12, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#nav-inner {
  display: flex;
  background-color: white;
  height: 50px; }

/* line 17, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
ul#navigation {
  display: flex;
  padding: 0;
  margin-left: 10%; }

/* line 22, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
ul#navigation-1 {
  display: flex;
  padding: 0;
  margin-left: 0px; }

/* line 27, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
li#nav {
  display: inline-block;
  flex: 1;
  text-align: center;
  padding: 0px 0px; }

/* line 33, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#icon {
  flex: 2;
  display: flex;
  justify-content: center;
  padding: 14px 16px; }

/* line 40, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
img#image {
  justify-content: center;
  width: 30px;
  height: 30px; }

/* line 46, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
ul#nav-right {
  flex: 1;
  display: flex;
  padding: 0px;
  margin-right: 10%;
  margin-top: 10px; }

/* line 54, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
li#nav-right {
  display: flex; }

/* line 57, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
input#search {
  background-color: #F5F8FA;
  border: solid 1px #E6ECF0;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  padding-left: 10px; }

/* line 65, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
input#search::placeholder {
  font-size: 13px; }

/* line 68, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
button#btn {
  font-size: 15px;
  display: block;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 0px 35px 0px 35px;
  background-color: #FF0500;
  color: white; }

/* line 78, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#row {
  display: flex;
  padding-top: 50px; }

/* line 82, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
section#col-left {
  flex: 1;
  margin-left: 10%;
  margin: 1% 1% 1% 10%; }

/* line 87, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#profil-info {
  display: flex; }

/* line 90, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
ul#profil-info {
  padding: 4px; }

/* line 93, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
h3#panel-title {
  margin: 0px; }

/* line 96, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
ul#trend-list {
  padding-left: 4px;
  color: #FF0500;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold  ", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* line 102, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
li {
  display: block;
  list-style-type: none;
  padding: 4px 0px 4px 0px; }

/* line 107, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
a {
  text-decoration: none; }

/* line 110, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
a#trend {
  color: #FF0500; }

/* line 113, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#container {
  justify-content: left;
  padding: 10px;
  margin: 10px 0px 10 0px;
  background-color: white; }

/* line 119, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#container-right-bottom {
  color: grey;
  font-size: 12px;
  justify-content: left;
  padding: 10px;
  margin: 10px 0px 10 0px;
  background-color: white; }

/* line 127, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#container--input--tweet {
  display: flex;
  justify-content: left;
  padding: 10px;
  background-color: #FFE6E5; }

/* line 133, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div #media-body {
  padding: 0px; }

/* line 136, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
input#tweet {
  border: solid 1px #ff9c99;
  border-radius: 10px;
  height: 30px;
  width: 500px;
  padding-left: 10px; }

/* line 143, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
input#tweet::placeholder {
  font-size: 14px;
  color: red; }

/* line 147, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#container--middle {
  display: flex;
  justify-content: left;
  padding: 10px;
  margin: 1px 0px 1px 0px;
  background-color: white; }

/* line 154, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#container--middle:hover {
  background-color: #F5F8FA; }

/* line 157, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
ul#pills {
  padding: 0px; }

/* line 160, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
li {
  display: inline;
  padding: 0px 5px 0px 5px; }

/* line 164, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#custom-trends {
  background-color: white; }

/* line 167, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
section#col-sm-6 {
  flex: 2;
  margin: 1% 1% 1% 0%; }

/* line 171, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#media-body {
  padding: 5px 0px 0px 15px; }

/* line 174, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
h4#media-heading {
  margin: 0px 0px 4px 0px; }

/* line 177, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
section#col-sm-3 {
  flex: 1;
  margin: 1% 10% 1% 0%; }

/* line 181, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
a#follow-button {
  font-size: 15px;
  display: block;
  height: 25px;
  border-radius: 20px;
  border: solid 1px #FF0500;
  padding: 3px 15px 0px 15px;
  background-color: white;
  color: #FF0500; }

/* line 191, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
a#follow-button:hover {
  background-color: #FFE6E5; }

/* line 194, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
div#container--right {
  display: flex;
  justify-content: left;
  padding: 10px;
  margin: 1px 0px 1px 0px;
  background-color: white; }

/* line 201, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
img#img-rounded {
  border-radius: 100%;
  width: 60px;
  height: 60px; }

/* line 206, Users/antoinedoolaeghe/Documents/MakersAcademy/Challenge/frontman-challenge/public/style.sass */
img#img-rounded-1 {
  border-radius: 100%;
  width: 40px;
  height: 40px; }
